<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Gallery project</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <header>
      <h1>Dublin Bike Polo @ College Green 22/09/2019</h1>
    </header>

    <main class="content">

      <div class="picture">
        <a href="http://localhost:3000/<%= (getPicIndex(pic) === 0) ? picDb[Object.keys(picDb).length - 1].picSrc : picDb[getPicIndex(pic) - 1].picSrc %>">
          <img src="/assets/arrow.svg">
        </a>
        <img id="main-pic" src="/assets/pic/<%= pic %>">
        <a href="http://localhost:3000/<%= (getPicIndex(pic) === Object.keys(picDb).length - 1) ? picDb[0].picSrc : picDb[getPicIndex(pic) + 1].picSrc %>">
          <img id="right-arrow" src="/assets/arrow.svg">
        </a>
        <div class="title">
          <%= picDb[getPicIndex(pic)].title %>
        </div>
        <div class="text">
          <%= picDb[getPicIndex(pic)].description %>
        </div>
      </div>

      <div class="thumbnails">
        <% picDb.forEach((pic, index) => { %>
          <a href="http://localhost:3000/<%= picDb[index].picSrc %>">
            <img src="/assets/th/<%= picDb[index].thSrc %>">
          </a>
        <% }); %>
      </div>

    </main>
    <script src="event.js"></script>
  </body>
</html>